<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>zhambalov</title>
    <link rel="stylesheet" href="./stylesheets/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
</head>
<body>

    <%- include('./partials/header') %>

    <div id="contact-contact" class="page">
        <div id="contact-form">
            <form action="#" method="post">
                <label for="first-name">First Name</label>
                <input type="text" id="first-name" name="first-name" required>
                
                <label for="last-name">Last Name</label>
                <input type="text" id="last-name" name="last-name" required>
                
                <label for="contact-number">Contact Number</label>
                <input type="tel" id="contact-number" name="contact-number" required>
                
                <label for="email">Email Address</label>
                <input type="email" id="email" name="email" required>
                
                <input type="submit" id="submit" value="Submit">
            </form>
        </div>
    </div>
    <div id="my-links">
        <div>
            <a href="https://t.me/issaeternal"><img src="/images/telegram.png" alt=""></a>
        </div>
        <div>
            <a href="https://www.linkedin.com/in/aldar-zhambalov-596a8022a/"><img src="/images/linkedin.png" alt=""></a> 

        </div>
        <div>
            <a href="https://www.instagram.com/oneaaz/"><img src="/images/instagram.png" alt=""></a> 

        </div>
    </div>
    <script src="/javascripts/contact.js"></script> 
</body>
</html>