<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>zhambalov</title>
    <link rel="stylesheet" href="./stylesheets/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
</head>
<body>
    
    <%- include('./partials/header') %>

    <div id="page-skills">
        <img src="/images/programming.jpeg" alt="" width="40%">
        <div>
            <p>As an aspiring Back-End Developer and DevOps enthusiast, I bring these services to the table:</p>
            <ul>
                <li>- Back-End Development</li>
                <li>- DevOps Practices</li>
                <li>- API Development</li>
                <li>- Code Optimization</li>
                <li>- Troubleshooting Expertise</li>
            </ul>
        </div>
    </div>
    <script src="/javascripts/skills.js"></script> 
</body>
</html>